<style>
	    	.para{
	    	margin-top: 0px;
	    }
		#frst{
			border: 1px solid white;
			height:40%;
			width: 40%;
			border-radius: 5px;	
			background: rgb(162, 163, 165);
			margin: 11% auto;	
		}
		span{
			    font-family: monospace;
               font-size: larger;
              font-weight: 500;
		}
		button{
			border-radius: 35px;
            padding: 6px;
            margin-left: 16%;
            width: 23%;
            background: floralwhite;
		}
		#scnd{
			margin:31px;
		}
		input{
			width: 97%;
			padding: 4px;
			/*border-radius: 11px;*/
		}
	</style>